@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.carousel-item {
    height: 400px;
}

.navbar {
    background-color: #143642;
}

.banner {
    height: 50vh;
    background-image: url('media/restaurant.jpg');
    background-size: cover;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.opening-times-list {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: pink;
}
.opening-times-item {
    font-weight: bold;
}