@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    overflow-x: hidden;
}

.carousel-item {
    height: 400px;
}

.navbar {
    background-color: #143642;
}

.banner {
    height: 50vh;
    background-image: url('media/restaurant.jpg');
    background-size: cover;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.section-opening-times {
    background-color: #143642;
}

ul {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
li{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.btn-reservation {
    font-size: 2rem;
    font-weight: bold;
    background-color: #0F8B8D;
    font-family: 'Poppins', sans-serif;    
}

.clock-container {
    background-color: #143642;
    color: white;
}